:root {
    --length: 1%;
}


.codepen {
    display: flex;
}

.html_editor {
    margin-right: 2%;
}

.test {
    width: var(--length);
}

.logo {
    margin-left: 2%;
}

.display {
    display: none;
}

.html_editor p{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ff;
  }

.css_editor {
    margin-right: 2%;
}

.coding_session p {
    font-size: x-large;
}

textarea {
    width: 500px;
    height: 200px;
}

iframe {
    width: 500px;
    height: 200px;
}